<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Log in - PhoBo</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="css/login-style.css">

    <link rel="stylesheet" href="css/site.css">
</head>
<body>
    <!-- Page Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    @RenderBody()

    <!-- JS -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- End Page Loader -->
    <script>
            $(window).on("load", function() {
                $('body').addClass('loaded');
            });
    </script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>